<div id="project">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{msg}}</h1>
            </div>
            <div class="row">
                <div class="col">
                {{#each examples}}
                <div class="col-8" id="projectEach">
                    <br>
                    <h1>{{this.title}}</h1>

                    {{!-- added 12-3 --}}
                    <a id="deployed" target="_blank" href="{{this.href}}"><img id="projectImage" src="{{this.image}}"></a>

                    <br>
                    <p id="description">{{this.description}}</p>

                    <a id="gitHub" target="_blank" href="{{this.repo}}">{{this.title}} <i class="fab fa-github"></i></a>


                </div>
            </div>
            {{/each}}
            </div>
        </div>
    </div>
</div>